#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    overflow-y: scroll;
    height: 100vh;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    background-color: white;
    padding: 50px;
    /* height: 100vh; */
    border: 2px solid yellow;
    border-radius: 20px;
    /* overflow-y: hidden; */
  }
  .sign-up-container{
    /* background-color: hotpink; */
    /* text-align: center; */
    width: 400px;


  }

  .signup-submit-button{
    margin: 10px;
    width: 300px;
  }
  .email {
    margin: 10px;
  }
  .user-name{
    margin: 10px;
  }
  .first-name {
    margin: 10px;
  }
  .last-name {
    margin: 10px;
  }
  .address {
    margin: 10px;
  }
  .city{
    margin: 10px;
  }
  .state {
    margin:10px;
  }
  .password {
    margin: 10px;
  }

  input[type="text"], input[type="password"]{
    height: 14px;
    width: 100%;
    padding: 8px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    opacity: 0.8;
    margin-left: 0px;
    background-color: #ddd;
    outline: none;
    margin-top: 4px;
  }
  select {
    height: 34px;

  }
.login-link{
  color: white;
  border: none;
  background-color: rgb(52, 121, 211);
  background-image: linear-gradient(45deg, #BA00B4, #1D0AC9);
  width: 200px;
  border-radius: 50px;
  padding: 10px;
}
.signup-title{
  margin-top: 0px;
}
.signup-submit-btn {
  color: white;
  border: none;
  background-color: rgb(52, 121, 211);
  background-image: linear-gradient(45deg, #BA00B4, #1D0AC9);
  width: 200px;
  border-radius: 50px;
  padding: 10px;
  margin-top: 8px;
}
.already-have-account h3 {
  margin: 5px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}
