#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

  }

  #modal-content {
    position: absolute;
    background-color: white;
    padding: 30px;
    border: 2px solid yellow;
    border-radius: 20px;
  }

  .sign-up-container{
    /* background-color: hotpink; */
    text-align: center;
  }

  .signup-submit-button{
    margin: 10px;
    width: 300px;
  }
  .email {
    margin: 10px;
  }
  .user-name{
    margin: 10px;
  }
  .first-name {
    margin: 10px;
  }
  .last-name {
    margin: 10px;
  }
  .address {
    margin: 10px;
  }
  .city{
    margin: 10px;
  }
  .state {
    margin:10px;
  }
  .password {
    margin: 10px;
  }
