.new-loo-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: auto;
    align-content: space-between

}
.unko-image-container {
    /* grid-column: 2;
    height: 250px;
    width: 100% */
    flex: 0 0 auto;
    margin: 28px;
    width: 50%;
}
.new-form {
    flex: 0 0 auto;
    margin: 8px;
    margin-top: 36px;
}
#upload {
    display: flex;
}
