div {
     font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.main-image-container{
    display: flex;
    justify-content: center;
    background-color: black;
}

.main-image {
}

.made-possible-text {
    /* color: white; */
    text-align: center;
}



.info-image-container {
    display: flex;
    background-color: black;
    height: 493pt;
}

.home-page-text {
    color: white;
    line-height: 1.5;
    /* font-family: 'Roboto', sans-serif; */
    margin-left: 20px;
    line-height: 1.8;

}
.home-page-description{
    font-weight: 600;
    font-size: 18px;
}

.info-box {
    order: 1;
    margin-right: 30px;
}

.info-image {
    margin-left: 20px;
    /* padding: 20px; */
    order: 2;
}
