.login-new-bathroom-button {
    margin-left: 30px;
}
.submit-review-button {
    margin-left: 30px;
    margin-top: 40px;
    background-image: linear-gradient(
        45deg
        ,#ba00b4,#1d0ac9);
    height: 40px;
    width: 220px;
    border-radius: 15px;
    color: #fff;
    border: none;
}
.review-form-container {
    margin-left: 50px;
}
.review-form{
    margin-left: 50px;

}
.new-bathroom-login{
    background-image: linear-gradient(
        45deg
        ,#ba00b4,#1d0ac9);
            height: 40px;
            width: 220px;
            border-radius: 15px;
            color: #fff;
            border: none;
}
.lower-container{
    display: flex;
    flex-direction: row;

}
.bathroom-review-image{
    margin-left: 150px;
}
.bathroom-review-img{
    max-width: 400px;
}
