.footer-container {
  /* position: sticky; */
  display: flex;
  justify-content: space-between;
  max-height: 300px;
  bottom: 0;
  /* font-family: Roboto; */
}

.about-container {
  order: 1;
  margin: 20px;
  padding: 50px;
}
.host-container {
  order: 2;
  margin: 20px;
  padding: 50px;
}
.social-media-container {
  order: 3;
  margin-top: 30px;
  margin-right: 50px;


}
.social-media-container div {
  margin: 20px;


}
.host-modal-button {
  cursor: pointer;
}
