.best-container{

        font-family: Roboto;


}
.best-text {
    color: blue;
    padding: 5px;

}

.bathroom-container h1 {
   padding: 30px;
}

.text-tile {
    order: 1;
    /* background-color: pink; */
    text-decoration: none;
    font-size: medium;
    font: 'font-family: 'Roboto', sans-serif;';



    border-top: 1px solid rgb(190, 190, 190);
    margin: 20px;
    padding-top: 30px;

}

.text-tile a {
    text-decoration: none;
    font-size: small;
    color: black
}
.location-result{
    padding: 10px;
    margin: 20px;
}
.bathroom-div-1 {
    /* height: 100vh; */
    /* display: flex; */


    /* justify-content: space-between; */

}
.text-tile{
    order: 2;
    justify-content: space-between;

}
.title-result {

}

.text-tile div {
    margin: 10px;
}

.bathroom-tile-image img{

    text-align: right;
    justify-content: space-between;
    margin-bottom: 20px;
    ;
}
#bathroom-link {
    list-style: none;
    text-decoration: none;

}
