
.best-text {
    color: blue;
}
.bathroom-div-1 {
    /* height: 100vh; */
    display: flex;
    background-color: teal;
    justify-content: space-between;

}
.text-tile {
    order: 1;

    background-color: skyblue;
}
.bathroom-tile-image img{
    order: 2;
    text-align: right;
}

