@import url("./components/Footer/HostBathroomModal.css");
/* TODO Add site wide styles */

body {
    font-family: Roboto, Circular, -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
    margin-right: 0px;
    margin-left: 0px;



}

#root {
    position: relative;
    /* height: 100%; */
    height: 100vh;
    width: 100%;
    overflow-x: none;
    text-decoration: none;

}
#root link {
    text-decoration: none;
}

#root button, link:hover {
    cursor: pointer;
    /* border: none; */
}
/* .host-modal-button {
    cursor: pointer;
} */

/* .nav-button-container{
    display: flex;
}



.button-container{
    display: flex;
}

.nav-button {
    background-color: white;
} */
