.div {
    font-family: Roboto;
    
}
.bathroom-div {
    margin: 10px;
}

.bathroom-container > h1 {
    color: blue;
}

/* .bathroom-container > div {
    /* background-color: rosybrown; */
    /* text-decoration: none; */
.title-result {
    border-top: 1px solid rgba(196, 196, 196, 0.829);
    padding-top: 25px;
}
.title-result a {

    text-decoration: none;

}
.nishi-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text-tile {
    grid-column: 2;
}
.bathroom-tile-image{
    grid-template: 1;
}
#bathroom-link {
    font-size: 2rem;
    text-decoration: none;
}
/*
 .bathroom-div-1 {
    height: 100vh;
    display: flex;
    background-color: teal;
    justify-content: space-between;

}
.text-tile {
    order: 1;
    background-color: skyblue;
}
.bathroom-tile-image img{
    order: 2;
    text-align: right;
}
*/
