div {
        font-family: Roboto;

}
.result-tile-container {
   font-family: Roboto;
   margin: 20px;
   box-sizing: border-box;
   border-top: 1px solid rgba(216, 216, 216, 0.74);
   display: flex;
   justify-content: space-around;
}
.bathroom-tile-image img {
    width: 400px;
}
.result-text-container {
     width: 400px;
}

.bathroom-tile-image {
    max-width: 300px;
    margin: 20px;
}

.title-result a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.city-state-result {
    margin-top: 20px;
}
.location-type-result{
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.description-result {
    color: black;
}
.cost-result {
    font-weight: bold;
}
