
  .submit-new-bathroom-button {
    margin: 10px;
  }

  .submit-new-bathroom-button:hover{
      cursor: pointer;
  }

  .new-bathroom-title {
    color: blue;
    text-align: center;
}

input [type=text]{
    /* background-color: maroon; */
    /* background: red;
    margin: 30px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    color: black; */

    width: 100%;
    padding: 10px;
    /* margin: 5px 0 22px 0; */
    display: inline-block;
    border: none;
    background: #f1f1f1;
    opacity: 0.8;
    margin: 15px;
    background-color: #ddd;
    outline: none;

    /* text-align: center; */
}
.new-form {
    /* text-align:center; */
    padding: 20px;
    width: 500px;
    text-align: left;
    display:inline-block;
    background: white;
}

.not-logged-in-btn{
    width: 120px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
.login-new-bathroom-button{
    margin-bottom: 30px;
}

.login-new-bathroom-button {
    margin-left: 40px;

}
.submit-new-bathroom-button {
    margin-left: 250px;
    margin-top: 50px;
}
.add-bathroom{
    background-image: linear-gradient(45deg, #BA00B4, #1D0AC9);
    height: 40px;
    width: 220px;
    border-radius: 15px;
    color: white;
    border: none;
}

.not-logged-in{
    /* margin: 40px; */
    margin-left: 30px;
}
select {
    opacity: 0.8;
    margin-left: 0px;

  }

.state-dropdown{
    width: 100%;
    padding: 10px;
    margin: 0 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    opacity: 0.5;

    margin-top: 15px;
    margin-bottom: 15px;

    background-color: #ddd;
    outline: none;
}

.form-input input[type="text"], input[type="textarea"] {
    width: 100%;
    padding: 10px;
    /* margin: 5px 0 22px 0; */
    display: inline-block;
    border: none;
    background: #f1f1f1;
    opacity: 0.8;
    margin: 15px;
    margin-left: 0px;
    background-color: #ddd;
    outline: none;
}
