.div{

        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}
.navigation-button-container{
    display: flex;
    justify-content: space-around;
}

.nav-button {
    background-color: transparent;
    width: 200px;
    border: none;
    outline: none;

}


.button-container{
    display: flex;
    margin-bottom: 12px;
}
.profile-dropdown {
    padding: 20px;
    height: 285px;
    width: 240px;
    border-radius: 15px;
    background-color: white;
    text-align: -webkit-match-parent;
    position: absolute;
    outline-style:none;
    margin-top: 4px;
    margin-bottom: 8px;

}

.drop-down-links {
    border-top: 1px solid grey;

}
.profile-dropdown div {
    margin-top: 15px;
    font-family: Roboto;
    font-size: medium;
}
.log-out-drop-down-links{
    border-top: 1px solid grey;
}
.demo-link button{
    border: none;
    background: white;
    color: rgb(190, 71, 71);



}
.login-button button {
    font-weight: bold;
    color: rgb(192, 15, 177);

}
.signup-button button{
    font-weight: bold;
    color: purple;
}
