.div{

        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}
.navigation-button-container{
    display: flex;
}

.nav-button {
    background-color: transparent;
    width: 200px;
    border: none;
    outline: none;

}




.button-container{
    display: flex;
}
.profile-dropdown {
    height: 255px;
    width: 240px;


    border-radius: 15px;
    background-color: white;
    text-align: -webkit-match-parent;
    position: absolute;
    outline-style:none;
    margin-top: 10px;

}

.drop-down-links {
    border-top: 1px solid grey;

}
.profile-dropdown div {
    margin-top: 15px;
    font-family: Roboto;
    font-size: medium;
}
.log-out-drop-down-links{
    border-top: 1px solid grey;
}
