
.navigation-button-container{
    display: flex;
}

.nav-button {
    background-color: transparent;
    width: 200px;
    border: none;
    outline: none;



}
.nav-button



.button-container{
    display: flex;
}
/* .nav-button i:hover
{
  transform: rotate(360deg);
} */
